{% extends 'global/base.html' %}

{% block content %}
    <div class="list-container">
        <h2>Resultados para "{{ termo }}"</h2>

        {% if resultados %}
            {% for modelo, itens in resultados.items %}
                <details class="form-colapsavel">
                    <summary>{{ modelo|title }}</summary>
                    <ul style="list-style: none; padding: 0; margin-top: 1rem;">
                        {% for item in itens %}
                            <li style="padding: 10px; border-bottom: 1px solid rgba(255,255,255,0.2); font-size: 1rem;">
                                {% if modelo == 'cliente' %}
                                    <strong>Nome:</strong> <a href="#">{{ item.Nome }}</a> |
                                    <strong>Contato:</strong> {{ item.contato }}

                                {% elif modelo == 'venda' %}
                                    <strong>Cliente:</strong> <a href="#">{{ item.cliente.Nome }}</a> |
                                    <strong>Vendedor:</strong> {{ item.vendedor.Usuario.username }} |
                                    <strong>Data:</strong> {{ item.Data_venda }}

                                {% elif modelo == 'produto' %}
                                    <strong>Produto:</strong> <a>{{ item.Produto }}</a> |
                                    <strong>Tipo:</strong> {{ item.tipo }}

                                {% elif modelo == 'equipe' %}
                                    <strong>Usuário:</strong> <a>{{ item.Usuario.username }}</a> |
                                    <strong>Nome:</strong> {{ item.Usuario.first_name }} {{ item.Usuario.last_name }} |
                                    <strong>Cargo:</strong> {{ item.Cargo }}

                                {% elif modelo == 'ocorrencia' %}
                                    <strong>Título:</strong> {{ item.titulo_ocorrencia }} |
                                    <strong>Tipo:</strong> {{ item.tipo_ocorrencia }} |
                                    <strong>Venda:</strong> {{ item.venda.id }} |
                                    <strong>Vendedor:</strong> {{ item.vendedor.Usuario.username }}

                                {% else %}
                                    {{ item }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            {% endfor %}
        {% else %}
            <p>Nenhum resultado encontrado.</p>
        {% endif %}
    </div>
{% endblock %}