{% extends "global/base.html" %}
{% load crispy_forms_tags %}


{%block content %}
    <h2>
    {% if modo == 'edição' %}
    <P>EDITAR EQUIPE</P>
    {% elif modo == 'criação'  %}
    <P>CADASTRAR EQUIPE</P>
    {% endif %}
    </h2>

    <form method="post">
    {% csrf_token %}
    {{ form_usuario.as_p }}
    {{ form_equipe.as_p }}

    <button type="submit">
    {% if modo == 'edição' %}
        Editar Equipe
    {% elif modo == 'criação' %}
        Cadastrar Equipe
    {% endif %}
    </button>
</form>

{% endblock %}