{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>
    {% if modo == 'edição' %}
        <p>EDITAR VENDAS</p>
    {% elif modo == 'criação' %}
        <p>CADASTRAR VENDAS</p>
    {% endif %}
    </h2>

    <form method="post">
    {% csrf_token %}

    <h3>Venda</h3>

    <p><strong>Cliente:</strong> {{ form_venda.cliente_db.value }}</p>
    <p><strong>Vendedor:</strong> {{ form_venda.vendedor_db.value }}</p>

    {{ form_venda|crispy }}

    <h3>Produtos</h3>
    {{ formset_produto.management_form }}
    {% for form in formset_produto %}
        {{ form|crispy }}
    {% endfor %}

    <h3>Ocorrências (opcional)</h3>
    {{ formset_ocorrencia.management_form }}
    {% for form in formset_ocorrencia %}
        {{ form|crispy }}
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
</form>

{% endblock %}