{% if user.is_authenticated %}
    <div class="navbar">
        <!-- Parte esquerda da navbar -->
        <div style="display: flex; align-items: center; gap: 20px;">
            <a class="navbar-title" href="{% url 'posvendasapp:menuinicial' %}" >YOSEF POSVENDAS</a>

            <!-- Botão Início -->
            <a style="font-size: 16px;font-weight: bold" href="{% url 'admin:index' %}" class="menu-link" target="_blank"><b>ADMIN</b></a>

            <!-- Dropdown Pós-vendas com submenu lateral em Clientes -->
            <div class="dropdown">
                <a href="#" style="padding: 10px 20px; font-size: 16px;">MENU PRINCIPAL ▾</a>
                <ul class="dropdown-content">
                    <li class="dropdown-sub">
                        <a href="{% url 'posvendasapp:tabela_cliente' %}">CLIENTES </a>
                        <ul class="dropdown-sub-content">
                            <li><a href="{% url 'posvendasapp:tela_de_busca' %}">CADASTRAR/ATUALIZAR</a></li>
                        </ul>
                    </li>


                    <li class="dropdown-sub">
                        <a  href="{% url 'posvendasapp:tabela_venda' %}">VENDAS</a>

                    </li>
                    <li><a href="{% url 'posvendasapp:tabela_produtos_vendidos' %}">PRODUTOS</a></li>
                </ul>
            </div>

            <!-- Dropdown Equipe (acesso gerência em diante) -->
            <div class="dropdown">
                <a href="{% url 'posvendasapp:tabela_equipe' %} " style="padding: 10px 20px; font-size: 16px;">EQUIPE ▾</a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'posvendasapp:cadastrar_equipe' %}"> CADASTRAR EQUIPE</a></li>
                </ul>
            </div>
            <span class="navbar-title">Usuário Logado: {{ user.username }}</span>
        </div>

        <!-- Parte direita da navbar: busca + logout -->

        <div style="display: flex; align-items: center; gap: 15px;">
            <div class="search-bar">
                <form action="{% url 'posvendasapp:busca_dinamica' %}" method="get" style="display: flex; gap: 10px;">
                    <input type="text" name="q" placeholder="Buscar em tudo..." required
                           style="padding: 6px; border-radius: 4px; border: 1px solid #ccc;">
                    <button type="submit">🔍</button>
                </form>
            </div>
            <a href="{% url 'posvendasapp:logout' %}" style="padding: 10px 20px; font-size: 16px;">LOGOUT</a>

        </div>
    </div>
{% else %}
    <!-- Caso não autenticado -->
    <div class="navbar">
        <a class="navbar-title" href="{% url 'posvendasapp:menuinicial' %}" >YOSEF POSVENDAS</a>
        <a href="{% url 'posvendasapp:cadastrar_equipe' %}" style="padding: 10px 20px; font-size: 16px;">REGISTRAR</a>
        <a href="{% url 'admin:index' %}" style="padding: 10px 20px; font-size: 16px;">ADMIN</a>
    </div>
{% endif %}
