
body {
    background-image: url("../../imagens/plano_de_fundo_oculos_1.png");
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    color: #00796b; /* verde escuro */
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 18px;
    text-align: center;
    color: #555;
}

.test-box {
    background-color: #ffffff;
    border: 2px solid #0097a7;
    padding: 20px;
    margin: 40px auto;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

